<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>groszus.fun</title>
  <link rel="stylesheet" href="style.css">
  <meta property="og:title" content="groszus">
  <meta property="og:description" content="discord: undefin.ed">
  <meta property="og:type" content="article">
  <link rel="icon" type="image/png" href="avatar.png" />
</head>

<body>
  <canvas id="canvas"></canvas>
  <div class="rounded-box">
    <div class="discord-info">
      <img src="avatar.png" alt="avatar", width="90" height="90">
      <h2>groszus</h2>
      <p>I cheat in a block game called minecraft.</p>
    </div>
    <div class="button-container">
      <a href="https://discord.groszus.fun" class="button">discord</a>
      <a href="https://youtube.com/groszus" class="button">youtube</a>
      <a href="https://github.com/groszus" class="button">github</a>
    </div>
  </div>
  <script src="script.js"></script>
</body>

</html>